<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenQMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OpenQMS.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_LoginPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022-2023 - <a href="https://www-c-realize.com">C-realize IT Services SRL</a> - <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Use</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link href="~/lib/datatables/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/buttons/css/buttons.datatables.min.css" rel="stylesheet" />

    <script src="~/lib/datatables/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/buttons/js/datatables.buttons.min.js"></script>
    <script src="~/lib/datatables/buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables/buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables/buttons/js/buttons.colvis.min.js"></script>
    <script src="~/lib/datatables/jszip/jszip.min.js"></script>
    <script src="~/lib/datatables/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/datatables/pdfmake/vfs_fonts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
