@*
This file is part of the OpenQMS.net project (https://github.com/C-realize/OpenQMS).
Copyright (C) 2022-2024  C-realize IT Services SRL (https://www.c-realize.com)

This program is offered under a commercial and under the AGPL license.
For commercial licensing, contact us at https://www.c-realize.com/contact.  For AGPL licensing, see below.

AGPL:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenQMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OpenQMS.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_LoginPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022-2024 - <a href="https://www.c-realize.com">C-realize IT Services SRL</a> - <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Use</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link href="~/lib/DataTables/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/DataTables/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />

    <script src="~/lib/DataTables/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTables/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/DataTables/Buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/DataTables/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/DataTables/JSZip/jszip.min.js"></script>
    <script src="~/lib/DataTables/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/pdfmake/vfs_fonts.js"></script>

    <script src="~/lib/ChartJs/chart.min.js"></script>

@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
 *@    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
