@*
This file is part of the OpenQMS.net project (https://github.com/C-realize/OpenQMS).
Copyright (C) 2022-2025  C-realize IT Services SRL (https://www.c-realize.com)

This program is offered under a commercial and under the AGPL license.
For commercial licensing, contact us at https://www.c-realize.com/contact.  For AGPL licensing, see below.

AGPL:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" @* asp-area="" asp-controller="Home" asp-action="Index" *@ href="https://github.com/C-realize/OpenQMS">OpenQMS.net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav justify-content-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="quality nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Quality <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Changes" asp-action="Index">Changes</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Deviations" asp-action="Index">Deviations</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Capas" asp-action="Index">CAPA</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Complaints</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Risks</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Audits</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Maintenance</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Processes" asp-action="Index">Processes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="plant nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Plant <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Materials" asp-action="Index">Materials</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppDocuments" asp-action="Index">Policies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="people nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">People <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole(Constants.ManagersRole) || User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="Index">Users</a>
                                    </li>
                                }
                                @if (User.IsInRole(Constants.AdministratorsRole))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AppRoles" asp-action="Index">Roles</a>
                                    </li>
                                }
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Trainings" asp-action="Index">Trainings</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpgradePlan">Settings</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName!</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}
@*else
{
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}*@
