@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/Products/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("BarChart");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: data.dataSet
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        fontColor: "black",
                                        fontSize: 9,
                                        beginAtZero: true,
                                        padding: 20
                                    },
                                    gridLines: {
                                        display: true,
                                        color: "#EBEBEB",
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'No. Of  Products',
                                        fontColor: "black",
                                        fontSize: 11
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontColor: "black",
                                        fontSize: 9,
                                        beginAtZero: true,
                                        padding: 10
                                    },
                                    gridLines: {
                                        display: false,
                                        color: "#EBEBEB",
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Status',
                                        fontColor: "black",
                                        fontSize: 14
                                    }
                                }]
                            },
                            legend: {
                                display: false,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 10,
                                    fontColor: '#000'
                                },
                                showLines: true
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Deviations/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("DeviationPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Capas/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("CapaPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Changes/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("ChangePieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/AppDocuments/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("DocumentPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Trainings/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("TrainingPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Processes/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("ProcessPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Assets/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("AssetPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/Materials/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("MaterialPieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });
        });
    </script>
    }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <div class="row">
        <div class="dashboard">
            <h4>Products Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding: 8px 12px 0px 8px;">
                <div>
                    <canvas height="327" id="BarChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Deviations Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="DeviationPieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Documents Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="DocumentPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="dashboard">
            <h4>Capas Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="CapaPieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Changes Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="ChangePieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Trainings Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="TrainingPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="dashboard">
            <h4>Processes Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="ProcessPieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Assets Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="AssetPieChart"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <h4>Materials Status Chart</h4>
            <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
                <div>
                    <canvas height="300" id="MaterialPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    @*<ul>
        
          <li>
            <a asp-area="" asp-controller="Deviations" asp-action="Index">Deviations</a>
        </li>
          <li>
            <a asp-area="" asp-controller="Capas" asp-action="Index">CAPA</a>
        </li>
       
        <li>
            <a asp-area="" asp-controller="Changes" asp-action="Index">Changes</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Trainings" asp-action="Index">Trainings</a>
        </li>
        <li>
            <a asp-area="" asp-controller="AppDocuments" asp-action="Index">Policies</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        </li>
        @if (User.IsInRole(Constants.ManagersRole) || User.IsInRole(Constants.AdministratorsRole))
        {
            <li>
                <a asp-area="" asp-controller="AppUsers" asp-action="Index">People</a>
            </li>
        }
        @if (User.IsInRole(Constants.AdministratorsRole))
        {
            <li>
                <a asp-area="" asp-controller="AppRoles" asp-action="Index">Roles</a>
            </li>
        }
    </ul>*@
</div>
