<!DOCTYPE html>
<html lang="en">
    <body>
    This program is offered under a commercial and under the AGPL license.
    <br />
    For commercial licensing, contact us at https://www.c-realize.com/contact.  For AGPL licensing, see below.
    <br />
    <br />
    AGPL license:
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    <br />
    <br />
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    <br />
    <br />
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see
    <https: //www.gnu.org/licenses />.
    <br />
    <br />
    Note that freedom comes with responsibilities. If you are unsure how to interpret the terms in the AGPL, you can check out https://www.gnu.org/licenses/gpl-faq.html or contact us.
    </body>
</html>
