@{
    ViewData["Title"] = "Under Development";
}

<h1>@ViewData["Title"]</h1>

<p>We are currently working on this feature. Thank you for your patience.</p>
<a href="https://www.c-realize.com">C-realize IT Services</a>
