html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.Details p {
  margin-right: 10px;
}

.actionButton {
  margin-right: 0px !important;
}