@*
This file is part of the OpenQMS.net project (https://github.com/C-realize/OpenQMS).
Copyright (C) 2022-2024  C-realize IT Services SRL (https://www.c-realize.com)

This program is offered under a commercial and under the AGPL license.
For commercial licensing, contact us at https://www.c-realize.com/contact.  For AGPL licensing, see below.

AGPL:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
*@

@model OpenQMS.Models.Change

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var products = (List<Product>)ViewData["Products"];
    var process = (List<Process>)ViewData["Processes"];
    var assets = (List<Asset>)ViewData["Assets"];
    var materials = (List<Material>)ViewData["Materials"];
    var capa = (List<Capa>)ViewData["Capa"];
}

<h1>Create</h1>

<h4>Change</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProposedBy" value="X" />
            <input type="hidden" asp-for="ChangeId" value="X" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Product</label>
                <select asp-for="ProductId" class="form-control" asp-items='new SelectList(products,"Id","Name")'>
                    <option value="">--Select Product--</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Process</label>
                <select asp-for="ProcessId" class="form-control" asp-items='new SelectList(process,"Id","Name")'>
                    <option value="">--Select Process-</option>
                </select>
                <span asp-validation-for="ProcessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Asset</label>
                <select asp-for="AssetId" class="form-control" asp-items='new SelectList(assets,"Id","Name")'>
                    <option value="">--Select Asset--</option>
                </select>
                <span asp-validation-for="AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Material</label>
                <select asp-for="MaterialId" class="form-control" asp-items='new SelectList(materials,"Id","Name")'>
                    <option value="">--Select Material--</option>
                </select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>CAPA</label>
                <select asp-for="CapaId" class="form-control" asp-items='new SelectList(capa,"Id","Title")'>
                    <option value="">--Select CAPA--</option>
                </select>
                <span asp-validation-for="CapaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proposal" class="control-label"></label>
                <textarea asp-for="Proposal" class="form-control"></textarea>
                <span asp-validation-for="Proposal" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
